{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ text }}</h3>
<p>Valitse</p>
<form class="form-inline" method="POST" >
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Valitse</span>
            <select name="month_select" class="selectpicker form-control">
                {% for item in months.keys() %}
                <option value="{{ item }}">{{ months.get(item) }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">Laske</button>
    </div>
</form>

{% if message %}
<p>{{ message }}</p>
    {% endif %}

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
