{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<p>Id nro: {{id }}, Sukunimi: {{name}}</p>
<p>Tuntipalkka: {{wage_h}}</p>
<p>Tyotunnit kuukaudessa: {{hours}}, palkka: {{wage}}</p>
<p>Yovuoron tunnit: {{night_h}}, yovuoron palkkalisays: {{wage_n}}</p>
<p>Kuukauden keskituottavuus: {{product}}, tuottavuuden palkkalisays: {{wage_p}}</p> 
<p>Kuukauden verollinen palkka: {{wage_t}}</p>
                          
                         
                         
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
{% endblock %}
